
@{

}


<div>
    <a asp-page="/ElisaPages/StartElisa">Starta ELISA</a>
</div>
<div>
    <a asp-page="/ElisaPages/ViewLayout">Visa ELISA layout</a>
</div>
<div>
    <a asp-page="/ElisaPages/SendRawData">Skicka resultat</a>
</div>
<div>
    <a asp-page="/ElisaPages/ReviewResult">Granska resultat</a>
</div>
